/**GENERAL**/
body {
  font-family: "Nanum Myeongjo", serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; 
  color: #333; 
  display: flex;  /* Added */
  flex-direction: column;  /* Added */
  min-height: 100vh;  /* Added */
}

/**TOP NAVIGATION BAR SETTINGS**/
.topnav {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  background-color: #222; 
  padding: 15px 20px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
  flex-wrap: wrap; 
}

.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px; 
  padding: 10px 15px; 
  transition: background-color 0.3s, color 0.3s, transform 0.2s; 
  border-radius: 5px; 
}

.topnav a:hover {
  background-color: #575757; 
  color: #ffffff; 
  transform: scale(1.05); 
}

.topnav a.active {
  background-color: #d3a200; 
  color: white; 
}

/**HAMBURGER MENU STYLE**/
.hamburger {
  display: none; 
  flex-direction: column; 
  cursor: pointer; 
}

.hamburger div {
  width: 25px; 
  height: 3px; 
  background-color: #f2f2f2; 
  margin: 4px 0; 
}

/**RESPONSIVE SETTINGS**/

@media (max-width: 768px) {
  .topnav {
      flex-direction: column; 
      align-items: flex-start; 
      padding: 10px; 
  }

  .topnav a {
      width: 100%; 
      text-align: center; 
      padding: 10px; 
  }
}

@media (max-width: 768px) {
  .hamburger {
      display: flex; 
      margin-left: auto; 
  }

  .topnav a {
      display: none; 
  }

  .topnav.active a {
      display: block; 
  }
}

/**HEAD SECTION**/
.head {
  background: url('Images/VTIKS.JPG') no-repeat center center/cover; /* Background image */
  color: rgb(255, 255, 255); 
  text-align: center; 
  padding: 100px 20px; 
}

.head h1 {
  font-size: 3em; 
  margin: 0; 
}

.head p {
  font-size: 1.5em; 
  margin-top: 10px; 
}

/**STATIC TEXT**/

.static-text {
  font-size: 3em; 
  font-weight: bold; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7), 
               0 4px 8px rgba(0, 0, 0, 0.5); 
  transition: color 0.3s ease; 
}

.static-text:hover {
  color: #ffcc00; 
}

/**DESCRIPTION**/
.description {
  padding: 20px; 
  text-align: center; 
}

.description blockquote {
  font-size: 1.2em; 
  font-style: italic; 
  margin: 20px 0; 
  color: #555; 
}

/**FOOTER SETTINGS**/
footer {
  background-color: #222; 
  color: #f2f2f2; 
  padding: 20px 0; 
  text-align: center; 
  margin-top: auto;  /* Added */
}

.content, h2 {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

#typed-title {
  font-family: 'Arial', sans-serif;
  font-size: 2em; 
  border-right: 2px solid; 
  white-space: nowrap; 
  overflow: hidden;
}

img {
  max-width: 100%;
  border-radius: 8px;
}